/*/ RESET /*/

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, h4, h3, p,
form, fieldset, label, textarea,
button, article, footer, small {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: inherit;
 font-family: inherit;
 box-sizing: content-box;;
 color: inherit;
 text-align: inherit;
 text-decoration: none;
 background: transparent;
 box-shadow: none;
}

body {
	background: #FF6347;
	color: white;
}

/*/ task creation /*/

.task-creation-button p {
	background: red;

	color: white;

	padding: 10px;

	margin: 10px;
	
	width: 200px;

}

.task-form-field {
	background: white;
	color: black;
}

.create-form {
	background: red;

	margin: 10px;

	padding: 10px;

	width: 200px;
}

/*/ task index item styling /*/

.task-list-padding {

	background: red;

	padding: 10px;

	margin: 10px;

	width: 200px;
}